# DAY 3 OPERATORS

In [ ]:
#Arithmetic operators 
+ --- Addition
- --- Subtraction
* --- Multiplication 
/ --- Division
% --- Modulus
**--- Exponents
// --- Floor Division

In [2]:
x=10
y=20
#Addition
print(x+y)

30

In [3]:
#Subtraction
print(x-y)

-10

In [4]:
#Multiplication
print(x*y)

200

In [7]:
#Division
print(y/x)
print(int(y/x))

2.0
2

In [8]:
#Modulus
a=10
b=3

print(a%b)

1

In [11]:
#Exponents
r=5
print(r**2)  #5*5
print(r**3)  #5*5*5

25
125

In [14]:
#Floor Divsion

p=10
q=3

print(p//q) 
#if we use double slash then it will only the only before decimal

3

In [ ]:
#Assignment operators

= ---
+= ---
-= ---

In [17]:
x1=5
print(x1) 
#if we use only x then it will give the value 10 coz we have x=10 previously

5

In [19]:
x2=10
x2+=5      #=x2=x2+5
print(x2)

15

In [21]:
x3=20
x3-=2      #x3=x3-2
print(x3)

18

In [22]:
x4=20
x4*=2
print(x4)

40

In [ ]:
#Comparison operators:output always will be BOOLEAN

== ---> Equal
!= ---> Does not Equal to
>  ---> Greater than
<  ---> Less than
>= ---> Greater than or equal to
<= ---> Less than or equal to

In [28]:
val1 =20
val2 =30     #checking of comparison operators

print(val1 == val2)
print(val1 != val2)
print(val1>val2)
print(val1<val2)
print(val1>=val2)
print(val1<=val2)

False
True
False
True
False
True

In [ ]:
#LOGICAL OPERATORS 

AND ---> It returns when all the conditions are True
OR  ---> It returns True when any single condition gets match 
NOT ---> It reverse the result, return False is the result is true

In [32]:
p1=10
p2=20
p3=30
p1<5 and p1>10

False

In [33]:
p1<5 and p1>5

False

In [35]:
p1>4 and p1>8

True

In [36]:
p1>5 and p1>=21

False

In [37]:
p1>5 and p2>=21

False

In [39]:
p1=10
p2=20
p3=30
p1>5 and p2>15 and p3>32

False

In [ ]:
#Membership operators:

in : It returns true if value is existing
not in : It returns true if value is not existing in object

In [43]:
x= "Python"
print("h" in x)

True

In [45]:
name = "Navneet Singh"
print ("a" in name ) # it is case sensitive so if we write any letter in CAPS then it will give false

True

In [49]:
dept=("MIS" , "HR" , "Fin")
print("Tid" in dept)

False

In [50]:
dept=("MIS" , "HR" , "Fin")
print("Tid"  not in dept)

True